.filter {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.07rem;
    margin: 2.5rem 0 1.8rem;
}

.filter span {
    padding-right: 2rem;
}

.filter .items {
    display: flex;
}

.items li {
    padding-right: 0.4rem;
}

.items li button {
    padding: 0.2rem 1rem;
}

.items li button.active {
    background-color: #e1e4ea;
    border: 1px solid #cfd2dc;
    border-radius: 50px;
}
