.avatar {
    display: inline-block;
    margin-right: 20px;
    min-width: 3rem;
    max-height: 3rem;
    text-align: center;
    padding-top: 0.7rem;
    background: #e54065;
    border-radius: 50%;
    color: #fff;
    font-size: 1.4rem;
}
