@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Varela Round', sans-serif;
}

body {
    background: #f4f5f9;
    color: #636363;
}

button {
    font-family: 'Varela Round', sans-serif;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}

.container main {
    margin-top: 20px;
    display: flex;
}
